* {
    font-family: "Raleway", Arial, sans-serif;
    box-sizing: border-box;
}

header, section, footer {
    width: 100%;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
}
.middle-color {
    color: #24BA9F;
    font-weight: 700;
}
.header-section {
    width: 275px;
    height: 45px;
    border-bottom: 6px solid #24BA9F;
    color: grey;
    font-weight: 600;
    font-size: 17px;
}

.invisibility {
    visibility: hidden;
}

/*Buttony*/

button[class|="button"]:hover {
    opacity: 0.7;
}
button[class|="button"]:active {
    filter: brightness(200%);
}

/*HEADER*/

header {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    .container {
        justify-content: space-between;
        align-items: center;

        #logo {
            color: white;
            word-spacing: 2px;
        }
        #navigation > li {
            display: inline-block;
            margin-left: 25px;
            font-weight: bold;
        }
        &:first-child {
            position: relative;

            #dropdown {
                        top: -9px;
                        right: 55px;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid black;
                    }

                    ul.submenu {
                        top: 60px;
                        position: absolute;
                        background-color: black;
                        width: 120px;
                        list-style-type: none;
                        padding: 0;

                        li {
                            text-align: left;
                            color: white;
                            height: 33px;
                            font-size: 16px;
                            font-family: 'ralewayregular', sans-serif;
                            padding-top: 8px;
                            padding-left: 10px;

                            }
                        }
            }
        }

        #navigation > li:hover {
            color: #24bd9e;
        }
}


/*SECTION - 1*/

#first-section {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

    .container {
        justify-content: space-between;
        padding: 70px 60px 50px 60px;
        .arrow-left {
            align-self: center;
            height: 60px;
            width: 80px;
            font-size: 70px;
            color: #24bd9e;
            font-family: 'ralewaylight', sans-serif;
        }
        .middle-elements {
            display: flex;
            align-items: center;

            #black-chair-box {
                #black-chair {
                    transform: scale(1.2);
                }
            }
            #text-first-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 30px;
                padding-bottom: 60px;

                #head1 {
                    font-size: 40px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                #text1 {
                    font-size: 16px;
                    font-weight: 600;
                    color: grey;
                    text-align: center;
                }
                .button-more {
                    font-size: 20px;
                    height: 50px;
                    width: 240px;
                    background-color: #24BA9F;
                    color: white;
                    border-radius: 10px;
                    border: 0;
                    margin-top: 20px;
                }
            }
        }
        .arrow-right {
            align-self: center;
            height: 60px;
            width: 80px;
            font-size: 70px;
            color: #24bd9e;
            font-family: 'ralewaylight', sans-serif;
        }
    }
}

/*SECTION - 2*/
.example-background {
    background-color: white;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 329px;
    height: 60px;
    top: 145px;
}
.example-box {
    width: 140px;
    border-bottom: 7px solid #24BA9F;
    padding: 0 0 0 10px;
    margin-left: 15px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    color: black;
    z-index: 1;
    position: absolute;
    bottom: 45px;
}

#second-section {
    background-color: white;
    .container {
        justify-content: space-between;
        padding: 30px 60px 70px 60px;

        #left-box {
            background-image: url("../images/box1_img.jpg");
            width:329px;
            height: 225px;
            background-size: 100%;
            background-repeat: no-repeat;
            position: relative;
        }
        #middle-box {
            background-image: url("../images/box2_img.jpg");
            width:329px;
            height: 225px;
            background-size: 100%;
            background-repeat: no-repeat;
            position: relative;
        }
        #right-box {
            border: 1px solid #E2DCD7;
            width:329px;
            height: 250px;
            display: flex;
            flex-direction: column;
            padding: 0 20px 30px 20px;

            #head2 {
                width: 130px;
                border-bottom: 6px solid #24BA9F;
                padding-top: 10px;
                color: black;
                font-weight: bold;
                font-size: 15px;
            }
            #text2, #text3 {
                color: grey;
                font-size: 14px;
                font-weight: 500;

            }
        }
    }
}

/*SECTION - 3*/
#third-section {
    background-color: #ededed;

    .container {
        flex-direction: column;
        padding-bottom: 65px;
        padding-top: 15px;

        .price-boxes {
            display:flex;
            justify-content: space-between;
        }
    }
}
.price-boxes {
    .price-list-box {
        width: 320px;
        height: 450px;
        border: 2.5px solid #d6d6d6;
        background-color: rgb(251,251,251);
        display: flex;
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        position: relative;

        .upper-circle {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 14px solid white;
            box-shadow: 0 0 0 2.5px #d6d6d6;
            background-color: #C4C1BA;
            align-self: center;
            position: absolute;
            top: -35px;
        }
        .title-plan {
            text-align: center;
            color: #24BA9F;
            font-weight: 500;
            font-size: 22px;
            margin-top: 30px;
        }
        .price-circle {
            height: 120px;
            width: 120px;
            border: 2.5px solid #d6d6d6;
            background-color: white;
            color: #C4C1BA;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            .price-number {
                text-align: center;
                font-size: 38px;
                font-weight: 700;
                line-height: 0.7;
            }
            .upper-price {
                vertical-align: top;
                font-size: 14px;
                line-height: 0;
            }
            .price-text {
                font-size: 16px;
                text-align: center;
            }
        }
        .content-plan {
            font-size: 22px;
            display: flex;
            flex-direction: column;
            align-self: stretch;
            text-align: center;
            line-height: 1.8;
            margin-top: 12px;

            .content1 {
                background-color: #dad7d1;
                color: grey;
                margin: 0;
            }
            .content2 {
                background-color: #ededed;
                margin: 0;
                color: lighten(black, 40%);
            }
        }
        .button-join {
            background-color: #24BA9F;
            color: white;
            border-radius: 8px;
            border: 0;
            padding-top: 2px;
            height: 30px;
            width: 100px;
            position: absolute;
            bottom: 15px;
        }
    }
}

#standard-price {
    border: 2.5px solid #24BA9F;
    background-color: #24BA9F;
    .upper-circle {
        border: 14px solid #24BA9F;
        box-shadow: 0 0 0 2.5px #24BA9F;
        background-color: #ededed;
    }
    .title-plan {
        color: white;
    }
    .price-circle {
        border: 2.5px solid #24BA9F;
        background-color: #ededed;
        color: #24BA9F;
        }
    .content-plan {
        .content1 {
            background-color: white;
            color: grey;
        }
        .content2 {
            background-color: #ededed;
        }
    }
    .button-join {
        background-color: white;
        color: #24BA9F;
    }
}

/*SECTION - 4*/

#fourth-section {
    .container {
        flex-direction: column;
        padding-bottom: 50px;

        .header-section {
            padding-top: 15px;
        }
        .form-boxes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
}
#form-box-left {
    .form {
        width: 630px;
        margin-bottom: 20px;
        height: 60px;
        padding-left: 10px;
        font-size: 24px;
        border: 1px solid #24BA9F;
        opacity: 0.5;
        }
    #message-box {
        height: 150px;
        padding-bottom: 100px;
    }
}
#form-box-right {
    display: flex;
    flex-direction: column;
    margin-top: -35px;

    #red-chair {
        width: 250px;
        height: 200px;
        align-self: flex-start;
        margin-left: 20px;
    }
    .button-send {
        font-size: 28px;
        font-weight: bold;
        height: 60px;
        width: 310px;
        background-color: #24BA9F;
        color: white;
        border-radius: 10px;
        border: 0;
    }
    #checkbox {
        font-size: 18px;
        padding: 20px 0 20px 0;
        display: flex;
        .css-checkbox {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .css-label {
            opacity: 0.5;
            font-weight: 500;
        }
    }
}

/*FOOTER*/

footer {
    color: #bfbfbf;

    .container {
        p {
            font-weight: bold;
        }
        .links {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 500px;
            padding-right: 60px;

            .flickr {
                background-image: url("../images/flickr.png");
                height: 35px;
                width: 35px;
                margin-right: 5px;
            }
            .vimeo {
                background-image: url("../images/vimeo.png");
                height: 35px;
                width: 35px;
                margin-right: 5px;
            }
            .pinterest {
                background-image: url("../images/pinterest.png");
                height: 35px;
                width: 35px;
                margin-right: 5px;
            }
            .twitter {
                background-image: url("../images/twitter.png");
                height: 35px;
                width: 35px;
                margin-right: 5px;
            }
        }
        .logo {
            color: #747474;
            margin-top: 12px;
            margin-left: 5px;
            font-size: 18px;
            font-weight: 600;

            span {
                font-weight: 900;
            }
        }
    }
}
